@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins-Light.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins-Regular.ttf') format('truetype'); /* Оставь так, если шрифт в public */
  font-weight: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: 'Poppins', sans-serif   ;
  font-weight: bold;
  font-size: 14px;
  background-color: #17171c !important;
  color: #fff;
  overflow-x: hidden !important;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}


p,
a,
li,
button,
ul {
  font-family: 'Poppins', sans-serif   ;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


button {
  border: 0;
  background-color: transparent;
  font-family: 'Poppins', sans-serif   ;

}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.danger {
  color: #f45b5b !important;
}
.success {
  color: #a4cf5e;
}
span {
  font-weight:200;
  font-size: 12px;
  color: #a9a9a9;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}
.spinner {
 position: relative;
 left: 50%;
}

.btn { 
  font-family: 'Poppins', sans-serif!important;
}
.btn:focus-visible {

  box-shadow: none !important;
}


html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #424342, #424342ab);
  border-radius: 6px;
  transition: background 0.3s ease;
}
html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #424342, #424342ab);
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #424342 transparent;
}